<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>action</key>
			<string>refresh</string>
			<key>alignment</key>
			<integer>1</integer>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>REFRESH</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>action</key>
			<string>stock</string>
			<key>alignment</key>
			<integer>1</integer>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>DEFAULT</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>detail</key>
			<string>converterListController</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>Converter</string>
		</dict>
	</array>
	<key>title</key>
	<string>Options</string>
</dict>
</plist>
